<% if notice %>
  <div class="mx-auto max-w-7xl px-4 pt-4">
    <div class="rounded-md bg-green-50 px-4 py-3 text-sm text-green-800"><%= notice %></div>
  </div>
<% end %>
<% if alert %>
  <div class="mx-auto max-w-7xl px-4 pt-4">
    <div class="rounded-md bg-red-50 px-4 py-3 text-sm text-red-800"><%= alert %></div>
  </div>
<% end %>
